.answer-card {
	height: 250px;
	background-color: lightgrey;
}

.answer-card:hover {
	cursor: pointer;
	background-color: grey;
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}
