@model QuizApp.Models.QuestionAnswers

<div class="card">
    <div class="card-title">
        @Html.DisplayFor(model => model.Question.Content)
    </div>
    <div class="d-flex flex-wrap">
        @foreach (var answer in Model.Answers)
        {
            <div class="p-2 col-md-6 col-12">
                <div class="card answer-card" onclick="selectAnswer('@answer.Content')">
                    @answer.Content
                </div>
            </div>
        }
    </div>
    <div class="ml-auto p-2">
        <button type="button" class="btn btn-success">Następne</button>
    </div>
</div>
