@model QuizApp.Models.Quiz

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja Quizu</h1>

<hr />
    <div class="w3-row-padding">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label>Nazwa Quizu</label>
            <input asp-for="Name" class="form-control" />
            <hr />
            @if (Model.Questions != null)
            {
                @foreach (var x in Model.Questions)
                {
                    {<input asp-for="@x.Content" class="form-control" />}
                    @if (x.Answers != null)
                    {
                        @foreach (var y in x.Answers)
                        {
                            {<input asp-for="@y.Content" class="w3-input" />}
                        }
                    }
                }
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Powróć do listy quizów</a>
</div>

