<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
<div class="p-2 h-100">
    <div class="w-100 h-100">
        <h2>Wprowadź PIN:</h2>
        <div id="pin-container" class="d-flex flex-nowrap mb-4"></div>
        <div class="simple-keyboard"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
<script src="~/js/keyboard.js" asp-append-version="true"></script>