@model QuizApp.Models.GeneratePINViewModel

<h3>
    Twój wygenerowany PIN:
</h3>
<div class="d-flex w-100 text-center">
    <div class="pin-code w-100">
        @Model.PIN
    </div>
</div>
<div class="d-flex">
    <button class="ml-auto p-2 btn btn-green">Rozpocznij quiz</button>
</div>